.App {
  text-align: center;
  padding-top: 2.5rem;
  background-color: black;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  max-width: 60ch;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.divider {
  border-radius: 0.125rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-self: stretch;
  border-color: inherit;
  width: auto;
  height: 2px;
  background-image: linear-gradient(
    to right,
    #fc8181,
    #f6ad55,
    #f6e05e,
    #68d391,
    #63b3ed,
    #b794f4,
    #f687b3
  );
}

table {
  table-layout: auto;
  width: 100%;
}
th {
  text-align: left;
}

.info-container {
  background-color: white;
  color: black;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-inline-end: 2rem;
  padding-inline-start: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}
.info-container-icon {
  margin-right: 3rem;
  display: inline-flex;
  align-items: center;
}
.info-container-text {
  font-size: 1.125rem;
}

.bold {
  font-weight: bold;
}

.margin-top {
  margin-top: 0.5rem;
}

.cta-button {
  border: 1px;
  margin-top: 2rem;
  display: inline-flex;
  appearance: none;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 1.5px;
  outline-offset: 1.5px;
  width: auto;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: bold;
  height: 3rem;
  min-width: 3rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  background: white;
  border-style: solid;
  border-color: black;
  text-decoration: none !important;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 200ms;
  cursor: pointer;
}

.cta-button:hover {
  background: #edf2f7;
  text-decoration: none;
  color: black;
}
.cta-button:link {
  background: #edf2f7;
  text-decoration: none;
  color: black;
}
.cta-button:visited {
  color: black;
}
